<h4>images index</h4>
<mat-card>
  <p>create new image</p>
  <form name="imageForm" (ngSubmit)="createNewImage()" #f="ngForm" novalidate>
    <mat-form-field>
      image name<input matInput type="text" [(ngModel)]="newImage.name" name="name" #name="ngModel" />
    </mat-form-field>
    <br/>
    <mat-form-field>
      image src<input matInput type="text" [(ngModel)]="newImage.src" name="src" #src="ngModel" />
    </mat-form-field>
    <br/>
    <mat-form-field>
      image description<input matInput [(ngModel)]="newImage.description" name="description" #description="ngModel" />
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary">submit</button>
    <!--
      (click)="newImage(newImageName, newImageSrc, newImageDesc)"
     {imageName, imageSrc, imageDesc} -->
  </form>
<mat-card>
<ul>
  <mat-card>
    <li *ngFor="let image of images" style="list-style: none;">
      <img style="height:50px; width: 50px;" src={{image.src}} alt={{image.description}} />
      <button (click)="goToImage()" mat-raised-button color="primary">go to {{image.name}} img</button>
      <button (click)="deleteImage()" mat-raised-button color="warn">delete</button>
    </li>
  </mat-card>
</ul>
